.comments-section * {
  color: #000;
}

.comments-section {
  h2 {
    margin-bottom: 1.5rem;
  }

  .comment-user {
    &--block {
      display: flex;
      padding: 1rem;
      background-color: rgba($red-main, 0.1);
      border-radius: 0.2rem;
    }

    &--block:nth-of-type(even) {
      background-color: rgba($yellow-main, 0.3);

      .comment-user--date {
        background-color: $red-main;

        p {
          color: #fff;
        }
      }
    }

    &--avatar {
      margin-right: 1.5rem;
    }

    &--name {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    &--date {
      font-size: 0.8rem;
      background-color: $yellow-main;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      border-radius: 0.2rem;
    }

    &--comment-text {
      font-size: 1.3rem;
    }
  }

  &--form {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .comment-form {
    display: flex;
    flex-direction: column;

    textarea {
      min-height: 100px;
      max-height: 100px;
      height: 100px;
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 1.5rem;
      padding: 0.5rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.1rem;
    }

    button,
    .submit {
      border: none;
      border-radius: 0.2rem;
      outline: none;
      padding: 0.5rem;
      background-color: $red-main;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }

    button:hover,
    .submit:hover {
      background-color: $red-hover;
      color: $yellow-main;
    }

    button:hover .submit {
      background-color: $red-hover;
      color: $yellow-main;
    }
  }
}
