.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 1rem;

  h1 {
    font-size: 1.5rem;
  }

  &--mobile-icons {
    display: flex;

    .hamburger-icon {
      margin-right: 1rem;
    }
  }

  .hamburger-icon .fa-bars {
    font-size: 1.5rem;
  }

  .search-icon .fa-search {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 650px) {
  .header {
    padding-right: 2rem;
    padding-left: 2rem;

    .search-icon {
      margin-left: 2rem;
      cursor: pointer;
    }

    .search-icon .fa-search:hover {
      color: $red-main;
    }

    &--mobile-icons {
      display: none;
    }
  }
}
