.metabox {
  display: flex;
  position: relative;
  bottom: 26px;
  font-size: 0.85rem;

  &-item {
    background-color: $red-main;
    border: none;
    outline: none;
    padding: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  &-link--home {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;

    &-single {
      border-radius: 0.2rem;
    }
  }

  &-item--date,
  &-link--parent,
  &-link--past-events {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background-color: $yellow-main;

    p {
      font-weight: 600;
    }
  }

  &-link--home,
  &-link--parent {
    cursor: pointer;
  }

  &-item--date {
    background-color: $yellow-hover;
  }

  .remove-border-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (min-width: 500px) {
  .metabox {
    bottom: 60px;
    margin-bottom: -2rem;
    font-size: 1rem;
  }
}
