.subjects--year {
  margin-bottom: 4rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #000;
  }
}

.post-item--subjects h2 {
  font-size: 1.8rem;
  color: #000;

  a {
    color: $red-main;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}
