.page-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000;
  padding-bottom: 4rem;

  &--content {
    position: relative;
    margin-top: 8rem;
  }

  &--background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    opacity: 0.5;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  h1,
  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: darkred;
    border-radius: 0.5rem;
  }
}
