.single-post-content-container {
  display: flex;
  flex-direction: column;

  img {
    width: 180px;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    color: #000;
  }
}

@media screen and (min-width: 500px) {
  .single-post-content-container {
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem auto;

    img {
      width: 150px;
      margin-right: 2rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .single-post-content-container {
    img {
      width: 170px;
      margin-right: 2rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .single-post-content-container {
    img {
      width: 300px;
      margin-right: 2rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
  }
}
