.single-post-content-container {
  p {
    color: #000;
  }
}

@media screen and (min-width: 500px) {
  .single-post-content-container {
    margin: 2rem auto;
  }

  .single-post-content--image {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  .single-post-content-container {
    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    .single-post-content {
      display: flex;

      &--image {
        margin-right: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .single-post-content-container {
    p {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
  }
}
